* {
    box-sizing: border-box;
}
/*entire body*/
body {
   /* display: flex;*/
    background-color: white;
    margin: 0px;
    border: none;
}

/*main sections of the screen*/

/*top, the banner, the top part of the screen*/
.htop {
    display: flex;
    background-color: lightgray;
    height: 200px;
    padding: 70px;
}
.banner { /*describes the properties the picture should have*/
    position: center;
    border-radius: 4px;
    justify-self: center;
    max-width: 1740px;
    height: 200px;
    padding: 0px;
}

/*the middle section of the screen, where all the information is*/
.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.column.contact_info {
    background-color: lightgrey;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 17%;
}
.content_space {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 10px;
    /*justify-content: center;*/ /*centers items in the vertical alignment*/
    align-items: center; /*center items in the horizontal alignment*/
}
.column.project_info {
    background-color: lightgray;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 33%;
}
.column.aboutme_info {
    background-color: lightgrey;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
}

/*bottom part of the screen*/
.footer {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 100px;
}

/*illustration elements*/
.self_portrait { /*describes the properties the picture should have*/
    border-radius: 5px;
    object-fit: contain;
    max-width: 90%;
    margin-top: 10px;
    height: auto;
}
.project_illustration {
    border-radius: 4px;
    object-fit: contain;
    width: 150px;
    height: 150px;
}

/*useful elements- */

/*adds a textbox where needed*/
.text_boxes {
    background-color: whitesmoke;
    width: 90%;
    margin: 10px 5px;
    text-align: center;
}
/*link types*/
a:link, a:visited {
    display:inline-block;
    background-color: whitesmoke;
    color: darkgray;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}
a:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

/*e-mail modal*/
.email_modal {
    display: none;
    position: fixed;
    left: 100px;
    bottom: 150px;
    background-color: lightgray;
    padding: 15px;
    z-index: 1;
    width: 40%;
    height: 50%;
}
/*email modal content*/
.modal_content {
}

/*buttons*/

/*exit button*/
.close_button {
    float: right;
    position: static;
    background-color: orangered;
    padding: 0px 5px;
    border: none;
    font-size: 28px;
}
.open_button {
    display: inline-block;
    background-color: whitesmoke;
    border: none;
    text-align: center;
    color: darkslategray;
    cursor: pointer;
}
.open_button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
}
.copyText_button {
    display: block;
    background-color: whitesmoke;
    border: none;
    text-align: center;
    color: darkslategray;
}

/*Media Queries for phone screens*/
@media (max-width: 900px) {
    .column {
        flex-direction: column;
    }
    .footer {
        height: auto;
    }
    .footer .column {
        flex-direction: row;
    }
    .column .project_info .content_space .text_boxes .column {
        align-items: center;
    }
    .column .project_info .content_space .text_boxes .column .project_illustration {
        order: -1;
        object-fit: contain;
        align-self: center;
    }
    .column .contact_info .content_space .text_boxes .column .text_boxes {
        order: 2;
    }
}