body {
    background-color: white;
    margin: 0px;
}
.htop {
    background-color: skyblue;
    border: none;
    height: 200px;
    text-align: center;
    justify-items: center;
}
.column {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
.column.contact-info {
    background-color: greenyellow;
    float: left;
}
.column.project-info {
    background-color: forestgreen;
}
.column.aboutme-info {
    background-color: olive;
    float: right;
}
.footer {
    background-color: palevioletred;
}