* {
    box-sizing: border-box;
}
body {
    background-color: white;
    margin: 0px;
    border: none;
}
.htop {
    display: flex;
    background-color: skyblue;
    height: 200px;
    padding: 70px;
}
.column {
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: center;
}
.column.contact-info {
    background-color: greenyellow;
}
.work-space {
    background-color: indianred;
    height: 660px;
    width: 90%;
    margin: 20px;
    align-content: stretch;
}
img {
    display: block;
    background-color: navajowhite;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
.column.project-info {
    background-color: forestgreen;
}
.column.aboutme-info {
    background-color: olive;
}
.footer {
    background-color: palevioletred;
    display: flex;
    height: 100px;
}